@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #ffffff;
  --border: #e5e7eb;
  --text: #202020;
  --menu-icon: #b8b8b8;
  --hover: #0000000a;
  --loader: #eaeaea;
  --blur: 255, 255, 255;
}

.theme-dark {
  --background: #101010;
  --foreground: #202020;
  --border: #333638;
  --text: #ffffff;
  --menu-icon: #424242;
  --hover: #191919;
  --loader: #424242;
  --blur: 32, 32, 32;
}

.theme-cherry {
  --background: #ffcbd2;
  --foreground: #ffd9e3;
  --border: #f8b7c3;
  --text: #7a296e;
  --menu-icon: #b76375
  --hover: #f3a7b6;
  --loader: #bf7a8e;
  --blur: 255, 217, 227;
}

.theme-menta {
  --background: #b4f1eb;
  --foreground: #e0f9f6;
  --border: #b2e9e6;
  --text: #105c47;
  --menu-icon: #4da88d;
  --hover: #77d1c9;
  --loader: #4bb8a1;
  --blur: 224, 249, 246; 
}

.theme-vanilla {
  --background: #f3e6c2;
  --foreground: #fff7dd;
  --border: #fbe8c6;
  --text: #4a2f0a;
  --menu-icon: #b38547;
  --hover: #f5cc7a;
  --loader: #d8b06e;
  --blur: 255, 247, 221;
}

.theme-fern {
  --background: #212d27;
  --foreground: #2c3b33;
  --border: #3a4b44;
  --text: #a8c5b5;
  --menu-icon: #758c7f;
  --hover: #3b4a42;
  --loader: #4e5e53;
  --blur: 44, 59, 51;
}

.theme-nightshade {
  --background: #1a0f23;
  --foreground: #26182f;
  --border: #372343;
  --text: #f0c7e2;
  --menu-icon: #ab88c1;
  --hover: #40264b;
  --loader: #7e5d9d;
  --blur: 38, 24, 47;
}

.theme-abyss {
  --background: #0e141b;
  --foreground: #18232e;
  --border: #1c2936;
  --text: #d1e4f1;
  --menu-icon: #8193a8;
  --hover: #1f3647;
  --loader: #3a4b5c;
  --blur: 24, 35, 46;
}
