@tailwind base;
@tailwind components;
@tailwind utilities;

.w-78 {
  width: 19rem;
}

.title {
  background: linear-gradient(to right, rgb(17 94 89), rgb(20 184 166));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
